@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;400&family=Epilogue:wght@600&family=Poppins:wght@100;400&family=Space+Mono&display=swap');
/*  font-family: 'Albert Sans', sans-serif;

    font-family: 'Epilogue', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Space Mono', monospace;*/


body {
    margin: 0 0 3em 0;
    font-family: 'Space Mono', monospace;
    background-color: rgb(247, 245, 251);
}

.section-main {
    background-image: url(./bg_neu_svg.svg);
    background-repeat: repeat-y;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 8px, rgba(17, 17, 26, 0.1) 0px 8px 8px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 2.4rem 1rem 1rem 1rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    width: 94%;
    height: 187rem;
    border-radius: 25px;
}

#section {
    text-align: center;
    margin-top: 3%;
    color: white;
    font-size: 4em;
}

.triangle {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
    stroke-width: 80;
}
.intro {
    text-align:center;
    color:white;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.4em;
}

.logo-title {
    display: inline;
    margin-left: 2%;

}
  h1 {
    font-size: small;
    font-family: 'Space Mono', monospace;
  }

a, a::before,a::after, a:hover, a:active, a:visited,a:link{
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 100;
    letter-spacing: 0.04em;
}






.projects-img2 {
    display: flex;
    justify-content: end;
    position: relative;
    width: 40%;
    margin-left: 80%;
}

.isHidden {
    display: none;
}


.about-img {
    display: inline;
    position: absolute;
    margin-top: 4%;
    margin-left: 8%;
    width: 90%;
}

.about {
    display: inline-block;
    background-color: white;
    opacity: 0.94;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-top: 20%;
    margin-left: 49%;
    margin-right: 2%;
    width: 34%;
    text-align: justify;
    padding: 0.4rem 2rem 0rem 2rem;
    border-radius: 25px;
    line-height: 1.8em;
    font-family: Albert Sans, sans-serif;
}

.skills-img {
    width: 20%;
    position: absolute;
    margin-top: 10%;
    margin-left: 31%;
    transform: rotate(8deg);
}

.skills-paragraph {
    color: white;
    z-index: 1;
    margin-top: 34%;
    right: 200px;
    width: 32%;
    height: 30%;
    display: flex;
    font-family: Albert Sans, sans-serif;
    line-height: 2em;
    border-radius: 25px;
    padding: 0rem 0rem 1rem 1rem;
}

.skills-languages {
    padding: 1em;
    margin-left: 2em;
    margin-top: 0%;
    margin-left: 4%;
    line-height: 2em;
    text-align: left;
    right: 200px;
    font-family: 'Albert Sans', sans-serif;
}

table {
    width: 100%;
}



.projects-paragraph {
    margin-top: 8%;
    margin-left: 34%;
    border-radius: 25px;
    font-family: Albert Sans, sans-serif;
    background-color: white;
    opacity: 0.97;
    width: 59.1%;
    height: 140%;
    padding: 1em 2rem 2rem 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.projects-img {
    z-index: 1;
    margin-left: 8%;
    position: absolute;
    width: 60%;
}

.interests-img {
    z-index: 1;
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 2%;
    position: absolute;
    width: 60%;
}

.interests-img2 {
    z-index: 1;
    margin-top: 16%;
    margin-left: 60%;
    margin-bottom: 2%;
    position: absolute;
    width: 60%;
}

.interests-img3 {
    z-index: 0;
    margin-top: 60.5%;
    margin-left: 54%;
    margin-bottom: 2%;
    position: absolute;
    width: 24%;
}

.interests-paragraph {
    z-index: 1;
    background-color: white;
    opacity: 0.97;
    margin-top: 40%;
    margin-left: 33%;
    border-radius: 25px;
    font-family: Albert Sans, sans-serif;
    width: 59.4%;
    height: 140%;
    padding: 1em 2rem 2rem 4rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;


}



img {
    width: 44%;
}

.tech-circle {
    display: inline-flex;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-bottom: 5%;
}

.tech-stack {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.techstack-wrapper {
    background-color: white;
    opacity: 0.97;
    position: relative;
    z-index: 2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 25px;
    margin-top: 20%;
    margin-left: 1rem;
    margin-bottom: 4%;
    padding: 1em;
    width: 50%
}
.total-wrapper {
    display: flex;
    justify-content: space-between
}
.img-startup {
    position: relative;
    margin-top: 0%;
    margin-left: 60%;
    width: 60%;

}

#h2 {
    text-align: left;
    margin-left: 1.5em;
    color: black;
    font-family: Space Mono, sans-serif;
    margin-bottom: 1em;
}

#h2-about {
    text-align: left;
    font-family: Space Mono, sans-serif;

}




ul, li {
    list-style: none;
    display: inline;
    margin-right: 1em;
    word-spacing: 1.8em;
  
}

#white {
    color: white;
}


  



